<%= form_for(@connection, :html => {:autocomplete => :off, :id => 'connection_form', :class => 'form-horizontal'}) do |f| %>
    <% if @connection.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@connection.errors.count, "error") %> prohibited this connection from being saved:</h2>

          <ul>
            <% @connection.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="control-group<%= if @connection.errors['name'].count > 0 then
                                   ' error'
                                 end %> ">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :placeholder => 'Name' %>
      </div>
    </div>
    <div class="control-group<%= if @connection.errors['adapter'].count > 0 then
                                   ' error'
                                 end %>">
      <%= f.label :adapter, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :adapter, :placeholder => 'Adapter' %>
      </div>
    </div>
    <div class="control-group<%= if @connection.errors['host'].count > 0 then
                                   ' error'
                                 end %>">
      <%= f.label :host, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :host, :placeholder => 'Host' %>
      </div>
    </div>
    <div class="control-group<%= if @connection.errors['default_database'].count > 0 then
                                   ' error'
                                 end %>">
      <%= f.label :default_database, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :default_database, :placeholder => 'Default Database' %>
      </div>
    </div>
    <div class="control-group<%= if @connection.errors['username'].count > 0 then
                                   ' error'
                                 end %>">
      <%= f.label :username, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :username, :placeholder => 'Username' %>
      </div>
    </div>
    <div class="control-group<%= if @connection.errors['password'].count > 0 then
                                   ' error'
                                 end %>">
      <%= f.label :password, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :password, :placeholder => 'Password' %>
      </div>
    </div>
    <div class="btn-group">
      <%= link_to 'Test Connection', test_connections_path, :id => 'test_connection',
                  :remote => true, :method => 'get', :class => 'btn btn-primary'
      %>
      <%= link_to 'Update Connection', 'javascript:void(0)', class: 'btn btn-primary disabled', id: 'form_submit_btn' %>
    </div>
<% end %>
<%= render 'testconnection' %>
