<p id="notice"><%= notice %></p>

<% provide(:title, @connection.name) %>
<h1>
  <%= link_to 'Connections', connections_path %> > <%= @connection.name %>
</h1>
<table class="table table-striped">
  <tr>
    <td>Name</td>
    <td><%= @connection.name %></td>
  </tr>
  <tr>
    <td>Adapter</td>
    <td><%= @connection.adapter %></td>
  </tr>
  <tr>
    <td>Host</td>
    <td id="host"><%= @connection.host %></td>
  </tr>
  <tr>
    <td>Default Database</td>
    <td><%= @connection.default_database %></td>
  </tr>
</table>
<div class="btn-group">
  <%= link_to 'Test Connection', test_connections_path(id: @connection.id), :id => 'test_connection',
              :remote => true, :method => 'get', :class => 'btn btn-primary'
  %>
  <%= link_to 'Edit', edit_connection_path(@connection), :id => 'edit', :method => 'get', :class => 'btn btn-primary' %>
</div>
<%= render 'testconnection' %>

