<tr <%= 'class=error' if !f.active %> id="<%= f.id %>">
  <td>
    <input class="inline_edit" name="id" value="<%= f.id %>" hidden=true/>
    <%= link_to(image_tag("edit_32x32.png", :border => 0, :size => '16x16', :class => 'field_edit'), '#', :class => 'field_edit') %>
    <%= link_to(image_tag("save_32x32.png", :border => 0, :size => '16x16', :class => 'field_save'), '#', :class => 'field_save') %>
    <%= link_to(image_tag("cancel_16.png", :border => 0, :size => '16x16', :class => 'field_cancel'), '#', :class => 'field_cancel') %>
  </td>
  <td id="td_db_column_name">
    <span class="dme_field_label"><%= f.db_column_name %></span><input name="object[db_column_name]" class="inline_edit" type="text"/>
  </td>
  <td>
    <span class="dme_field_label"><%= f.db_type %></span><input class="inline_edit" name="object[db_type]" type="text"/>
  </td>
  <td>
    <span class="dme_field_label"><%= f.db_scale %></span><input class="inline_edit" name="object[db_scale]" type="text"/>
  </td>
  <td>
    <span class="dme_field_label"><%= f.db_limit %></span><input class="inline_edit" name="object[db_limit]" type="text"/>
  </td>
  <td>
    <span class="dme_field_label"><%= f.display_name %></span><input class="inline_edit" name="object[display_name]" type="text"/>
  </td>
  <td>
    <span class="dme_field_label"><%= f.type %></span><input class="inline_edit" name="object[type]" type="text"/>
  </td>
  <td style='text-align: center'><%= image_tag('checkmark.png', :size => '16x16') if f.active? %></td>
  <td style='text-align: center'><%= image_tag('checkmark.png', :size => '16x16') if f.lookup? %></td>
  <td class='icon_16'>
    <%= link_to image_tag("trash_32x32.png", :border => 0, :size => '16x16'), f, method: :delete, data: {confirm: 'Are you are you want to delete <'+f.db_column_name+'>?'} unless f.active? %>
  </td>
</tr>