<% provide(:title, 'Constructions Tables') %>
<h1>Listing Construction Tables</h1>

<table class='table table-bordered table-striped table-condensed'>
  <tr>
    <th>Display Name</th>
    <th>Connection</th>
    <th>Database</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @dme_tables.each do |dme_table| %>
      <tr>
        <td><%= dme_table.display_name %></td>
        <td><%= if dme_table.connection then
                  dme_table.connection.name
                else
                  '<CONNECTION MISSING>'
                end %></td>
        <td><%= dme_table.database_name %></td>
        <td class='icon_16'><%= link_to image_tag("MagnifyingGlass_16x16.png", :border => 0, :size => '16x16'), dme_table %></td>
        <td class='icon_16'><%= link_to image_tag("edit_32x32.png", :border => 0, :size => '16x16'), edit_table_dme_table_path(dme_table) %></td>
        <td class='icon_16'><%= link_to image_tag("trash_32x32.png", :border => 0, :size => '16x16'), dme_table, method: :delete, data: {confirm: 'Are you are you want to delete <'+dme_table.display_name+'>?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= button_to 'New Construction Table', new_dme_table_path, :method => 'get', :class => 'btn btn-primary' %>
