<% provide(:title, @dme_table.display_name) %>


<p id="notice"><%= notice %></p>
<h1>
  <%= link_to 'Construction Tables', dme_tables_path %> > <%= @dme_table.display_name %>
</h1>
<table class="table table-striped table-bordered">
  <tr>
    <td>Display Name</td>
    <td><%= @dme_table.display_name %></td>
  </tr>
  <tr>
    <td>Database</td>
    <td><%= @dme_table.database_name %></td>
  </tr>
  <tr>
    <td>Connection</td>
    <td><%= @dme_table.connection.name %></td>
  </tr>
  <tr>
    <td>Table Name</td>
    <td><%= @dme_table.table_name %></td>
  </tr>
</table>
<table class="table table-striped table-bordered">
  <caption>Table Fields</caption>
  <thead>
  <tr>
    <td>Column Name</td>
    <td>Column Type</td>
    <td>Column Scale</td>
    <td>Column Limit</td>
    <td>Display Name</td>
    <td>Type</td>
    <td>Active</td>
    <td>Lookup</td>
  </tr>
  </thead>
  <% @dme_table.dme_fields.order('sort_order asc').each do |f| %>
      <tr <%= 'class=error' if !f.active %>>
        <td><%= f.db_column_name %></td>
        <td><%= f.db_type %></td>
        <td><%= f.db_scale %></td>
        <td><%= f.db_limit %></td>
        <td><%= f.display_name %></td>
        <td><%= f.type %></td>
        <td><%= image_tag('checkmark.png', :size => '16x16') if f.active? %></td>
        <td><%= image_tag('checkmark.png', :size => '16x16') if f.lookup? %></td>
      </tr>
  <% end %>
</table>
<div class="btn-group">
  <%= link_to 'Edit', edit_table_dme_table_path(@dme_table), :id => 'edit', :method => 'get', :class => 'btn btn-primary' %>
</div>
